<% include ../partials/boilerplate %>

<div class='hero'>
</div>


  <div class='global-container'>
    <div class='global'>
      <h2><%= data.title %></h2>
      <h3><%= data.cost %></h3>
      <h3><%= data.category %></h3>
      <h3><%= data.description %></h3>
      <h3><%= data.deadline %></h3>
      <div class='links'>
        <a href='/globals/<%= data.id %>/edit'>Edit Listing</a>
        <form method='POST' action='/globals/<%= data.id %>?_method=DELETE'>
          <input type='submit' value='Delete' />
        </form>
      </div>
      </div>
      <div class='linkback'>
        <a class='seeall' href='/globals/'>See all listings</a>
      </div>
  </div>
    
<% include ../partials/end %>